
#backMenu{
float:right;
 background-color:#00b379; 
 color:white; 
 padding:10px;
  border-radius:5px; 
  
}
#backMenu a {
text-decoration:none; 
color:white;
}

#aboutUsHeader{
background-color:#00b379; 
 color:#ffffff; 
 font-weight:400;
/*  padding:10px; */
 padding-left:90px;
 font-size:20px;
    font-family: 'sansProLight', sans-serif; 
    letter-spacing: .18em;
}

#aboutUsText{
text-align: justify;
font-size:18px;
}

#aboutUsfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
        #aboutUsText{padding:20px}
      #aboutUsHeader{padding:10px}

}

@media screen and (min-width: 1000.01px) and (max-width:20000px ) {
        #aboutUsText{ padding:20px; padding-left: 90px; padding-right:50px;
}

        #aboutUsHeader{ padding:10px; padding-left: 90px;}

}
