@font-face{font-family: 'MyriadProRegular'; src: url('../fonts/MyriadPro-Regular.otf');}
@font-face{font-family: 'sansProBlack'; src: url('../fonts/SourceSansPro-Black.otf');}
@font-face{font-family: 'sansProBlackIt'; src: url('../fonts/SourceSansPro-BlackIt.otf');}
@font-face{font-family: 'sansProBold'; src: url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family: 'sansProBoldIt'; src: url('../fonts/SourceSansPro-BoldIt.otf');}
@font-face{font-family: 'sansProExtraLight'; src: url('../fonts/SourceSansPro-ExtraLight.otf');}
@font-face{font-family: 'sansProExtraLightIt'; src: url('../fonts/SourceSansPro-ExtraLightIt.otf');}
@font-face{font-family: 'sansProIt'; src: url('../fonts/SourceSansPro-It.otf');}
@font-face{font-family: 'sansProLight'; src: url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family: 'sansProLightIt'; src: url('../fonts/SourceSansPro-LightIt.otf');}
@font-face{font-family: 'sansProRegular'; src: url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family: 'sansProSemibold'; src: url('../fonts/SourceSansPro-Semibold.otf');}
@font-face{font-family: 'sansProSemiboldIt'; src: url('../fonts/SourceSansPro-SemiboldIt.otf');}


body{font-family: 'sansProLight', sans-serif; letter-spacing: .15em;overflow-x:hidden;}
h1{font-family: 'sansProLight', sans-serif; letter-spacing: .15em; font-size: 1.5em;}
h2{font-family: 'sansProLight', sans-serif; letter-spacing: .15em; font-size: 1.2em;}
h3{font-family: 'sansProLight', sans-serif; letter-spacing: .15em; font-size: 1.2em;}
h4{font-family: 'sansProLight', sans-serif; letter-spacing: .12em; font-size: 1.0em;}
h5{font-family: 'sansProLight', sans-serif; letter-spacing: .12em; font-size: 1.0em;}
p{font-family: 'sansProLight', sans-serif; letter-spacing: 0em; font-size: 1.0em;}

a.button{background: #2bb373; color: #ffffff !important; padding: 4px 20px; border-radius: 4px; text-decoration: none; cursor:pointer; letter-spacing:0.18em;}
a.button-grey{background: #666666; color: #eeeeee !important; padding: 4px; margin-right: 8px; border-radius: 4px; text-decoration: none; text-align: center; min-width: 32px; display: inline-block; letter-spacing:0.18em;}
.imgdiv{padding-left: 0px !important; padding-right: 0px !important;}
.imgdiv img{width: 100%;}
.sitenav{font-size: 1em; margin-top : 20px; margin-bottom : 30px;}
.sitenav span{padding-right : 20px;}
.sitenav a{color: black;}
.sitenav a:hover{color: black; text-decoration: none;}

.foodmenu{font-family: 'sansProRegular'; padding:4px; letter-spacing: 0em; color:#666666; cursor:pointer;}
.foodmenu:hover{text-decoration:none; color: #2bb373; border-bottom: 2px solid #2bb373;}
#currentDate{margin-top: 50px; color: #666666;}

#itemDescription{padding: 10px;}
.pricetag{border: 1px solid #666666; color: #666666; padding: 4px 4px 4px 0px; border-radius: 4px;background-color: #fff; letter-spacing:0.18em;font-family: 'sansProSemibold';font-size:1.0em; }
.footer{background: #707070; color: #ffffff; opacity: 1; padding: 4px 0px; }
a.footer-nav{display: inline-block; color: #ffffff; letter-spacing: 0em; padding: 0px 4px;}



@media screen and (max-width: 550px) {
    .sitenav{font-size: .8em !important; letter-spacing: .05em;}
    .sitenav span{padding-right : 10px;}
}

.table-cell-style{display: table-cell; height: 100%; float: none; vertical-align: middle;}
.table-style{display: table; table-layout: fixed; width: 100%;}


.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    background-color:#808080;
    opacity:0.9;
    border:none;
}
.table th, .table td { 
     border-top: none !important; 
 }
 
 @media only screen and (max-width: 700px) {
     .row_border{
        border-bottom: 8px solid black;
    }
     
}

.div_center{
    margin: 0 auto; width: 100%; text-align: center;
}

button:focus {outline:0;}