
    body{
        background: url(../img/pageBackground.png);
font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;       
width:100%;
height:100%;
    }
    
   
    #logoHeader{
        height: 60px;
        width: 100%;
        text-align: right
    }

    #leftImage{
        margin-left: -10px;
        float: left;

    }
    
    #logoImage{
        float: left;
        margin-left: 50px;
    }
    
    #logoImage p {
        font-size: 30px;
        text-align: center;
        margin-top: -60px;
        font-weight:300;
    }
    
    #rightImage{
        float: right;
        margin-right: -10px;
    }
    
    #footer{
        text-align: center;
            padding:20px;
    }
    
    #emailField{
        height:40px;
        width: 300px;
        background-color: transparent;
        border-width: thin;
        border-color: black;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;     
    }
    
    #submitButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        padding-top:10px; 
}
    
    ::-webkit-input-placeholder {
   color: dimgrey;
}

    :-moz-placeholder { /* Firefox 18- */
   color: dimgrey;  
}

    ::-moz-placeholder {  /* Firefox 19+ */
   color: dimgrey;  
}

    :-ms-input-placeholder {  
   color: dimgrey;  
}
    

#mobileLeftImage{
        margin-left: -20px;
    margin-top: -50px;
    text-align: left;

    }
    
    #mobileLogoImage{
        margin-top: -100px;
text-align: center
}
    
    #mobileLogoImage p {
        font-size: 15px;
        text-align: center;
        margin-top: -30px;
    }
    
    #mobileRightImage{
/*        float: right;*/
        margin-right: -10px;
        text-align: right;
    }
