
    body{
        background: url(../img/pageBackground1.png);
font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;       
width:100%;
height:100%;
text-transform:uppercase;
font-weight:400;
color:dimgrey;
    }
    
body, col-xs-12{
        background: url(../img/pageBackground1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 2px;
width:100%;
height:100%;
text-transform:uppercase;
font-weight:400;
color:dimgrey;
}


col-xs-4, im2{
	margin-top:60%;
	
}
    #logoHeader{
        height: 60px;
        width: 100%;
        text-align: right
    }

    #leftImage{
        margin-left: -10px;
        float: left;

    }
    
    #logoImage{
        float: left;
        margin-left: 50px;
    }
    
    #logoImage p {
        font-size: 30px;
        text-align: center;
        margin-top: -60px;
font-weight:400;
    }
    
    #rightImage{
        float: right;
        margin-right: -10px;
    }
    
    #footer{
        text-align: center;
            padding:20px;
    }
    
    #emailField{
        height:30px;
        width: 300px;
        background-color: transparent;
       
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:400;
        font-size: 15px;   
        text-transform:uppercase;
        color:dimgrey;
        border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid dimgrey;
      
    }
    
    #submitButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:400;
/* 
        padding-top:10px; 
 */
 color:dimgrey;
 margin-top:10px;
        border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 2px solid dimgrey;
}
    
    ::-webkit-input-placeholder {
   color: dimgrey;
}

    :-moz-placeholder { /* Firefox 18- */
   color: dimgrey;  
}

    ::-moz-placeholder {  /* Firefox 19+ */
   color: dimgrey;  
}

    :-ms-input-placeholder {  
   color: dimgrey;  
}
    

#mobileLeftImage{
        margin-left: -20px;
    margin-top: -50px;
    text-align: left;

    }
    
    #mobileLogoImage{
        margin-top: -100px;
text-align: center
}
    
    #mobileLogoImage p {
        font-size: 15px;
        text-align: center;
        margin-top: -30px;
    }
    
    #mobileRightImage{
/*        float: right;*/
        margin-right: -10px;
        text-align: right;
    }
.footer{background: #707070; color: #ffffff; opacity: 1; padding: 4px 0px; }
a.footer-nav{display: inline-block; color: #ffffff; letter-spacing: 0em; padding: 0px 4px;}
