.profileNavMenuItems{
	display:inline;
	padding:5px 30px;
    border:none;
    background: none;
    font-size:20px;
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.18em;
}

#addressList li h3{
		 /* border-bottom:2px solid #d3d3d3;  */
width:300px;
padding:5px 30px;
    font-family: 'sansProRegular', sans-serif; 
letter-spacing: 0.18em;
    text-transform: uppercase;
    
}

#addressList li p{
		 /* border-bottom:2px solid #d3d3d3;  */
width:300px;
padding:5px 30px;
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
}

#addressList li{
width:300px;	
	
}

#orderList h3{
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.18em;
    text-transform: uppercase;
}

#orderList p{
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
    text-transform: uppercase;
}

#mobileMenuContent p{
	
	padding: 0px;
}

#mobileMenu{
	
	height:150px;
}

.mobileMenuText{
	color:white;
height:15px;	
}

button:focus {outline:0;}

::-webkit-scrollbar { 
    display: none; 
}

.localityText{
    font-size: 15px;
    font-family: 'sansProExtraLight', sans-serif; 
letter-spacing: 0.18em;
   
    text-transform: uppercase; float:left; color:white;
}

.leftMenuChangeButtonText{
     cursor: pointer;
    font-size: 15px;
    font-family: 'sansProExtraLight', sans-serif; 
letter-spacing: 0.18em;
    color:#fff;
}

  #aboutUsfooter {
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        z-index: 9999;
    }