/* New CSS Code - Pawan */


/* <!-- CSS for Navigation Dots and Sticking Menu on Top --> */


.affix-top {
    top: 32%; 
	right: 0;
	position:absolute;
	z-index:2;
}

.affix {
    top: 50px;
	right: 0;
	z-index:2;
}

#mainContainer {
height:100%;
}

#dotNav {
 position: fixed;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
/*    left:10px; */

}

#dotNav ul {
	list-style: none;
	margin:0;
}

#dotNav li {
	position: relative;
	background: none repeat scroll 0 0 transparent;
	border:2px solid #666666;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	height: 15px;
	margin: 10px 10px 0px 0px;
	width: 15px;
	vertical-align:bottom;
}

#dotNav li.active {
	background-color: #2bb373;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
	border:1px solid transparent;
}

#dotNav li:hover {
	background: none repeat scroll 0 0 #2bb373;
}

#dotNav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}

.stick {
z-index:10000;
    position: fixed;
    top: 0;
    background-color:#707070;
    opacity:1;
    text-align:center;
    width:101%;
    height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:0px;
	margin-right:0px;
}

.menuHeaderStick{
z-index:1000;
    position: fixed;
    top: 0;
/*     background-color:#707070; */
    opacity:1;
    text-align:center;
    width:100%;
    height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-left:0px;
	margin-top:48px;
}

#st-trigger-effects button{
background:transparent;
border: none;
}
 
.tooltip
{
  text-decoration:none;
  position:relative;
}
 
 
.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
 
.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}
 
 
.tooltip:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  max-width:320px;
  min-height:128px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

/* <!-- CSS FOR SIGN IN, SIGN UP, SERVICE LOCATOR POP UPS --> */
  .modal-header, .close {
      color:white !important;
      text-align: center;
      font-size: 30px;
      border-bottom:1px solid transparent;
  }
  .modal-footer {
      border-top:1px solid transparent;
      margin-top:-20px;
  }
  
  .modal{
  border:none;
  }
  
  .signInsignUpButton{
  background-color:#2bb373;
  padding:10px;
  border:1px solid transparent;
  border-radius:5px;
  color:white;
      
      
/*      background: #2bb373; color: #ffffff !important; padding: 4px 20px; border-radius: 4px; text-decoration: none;*/
  
  }
  
    #fbButton{
  background-color:#3a5c96;
  width:100%;
  padding:10px;
  border:1px solid transparent;
  border-radius:5px;
  color:white;
  
  }
  
  .loginStaticText{
  color:white;
  padding:30px;
  text-align:center;
  width:100%
  }
  
  #forgotPassword{
  color:white;
  text-decoration:underline;
  background:none;
  
  }
  
  #skipLogin{
  border:1px solid white;
  background-color:transparent;
  color:white;
  width:35%;
  border-radius:5px;
    padding:10px;

  }
    
    
    .list {
  margin:10px;
  padding:20px 0 0;
	overflow:scroll;
	height:400px;
}
.list > li {
  display:block;
/*   background-color: #000; */
  padding:10px;
  box-shadow: inset 0 1px 0 transparent;
  color:white;
}
.avatar {
  max-width: 150px;
}

  .search{
  width:100%;
/*   border:solid 1px #ccc; */
  border-radius: 5px;
  padding:7px 14px;
    height:40px;

  }
  
  
#errorText{
color:white;
}


  
    

/* <!-- CSS for Main Page Elements --> */
.itemNameText{
    color:#333333;
    font-size:16px;
/*    letter-spacing:0.1em;*/
    font-family:'MyriadProRegular', arial, helvetica, sans-serif;
}

.btn-lg{
background-color:transparent;
border:none;
font-family: 'sansProLight', sans-serif; letter-spacing: .15em; 
color:black;
font-size: 1em; 
}
    
    .btn-lg:hover{
        background-color: transparent;
        color:#2bb373;
            
    }
    
    .form-control{
        color:black;
        font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
    }
    
    input::-webkit-input-placeholder {
color: #3C3C3C !important;
        font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #3C3C3C !important;
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #3C3C3C !important;
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
}
 
input:-ms-input-placeholder {  
color: #3C3C3C !important;
    font-family: 'sansProLight', sans-serif; 
letter-spacing: 0.12em;
}

#viewTodaysMenu{
position:absolute;
width:100%;
}
  



/* <!-- CSS for Checkout --> */

.transparentButtons{
background:none; border:none; float:left;
    
}

.paymentButton{
	background:none; border:none; 
	padding:20px;
padding-top:20px
 }

.reviewOrder{
padding:0px;
}

.orderTableBoldItalicsStyling{
font-weight:bold;
}

.pricingText{
color:#808080;
font-weight:bold;
}

.pricingText::before{
	content: "₹";
}

.dishPriceText::before{
	content: "₹";
}

.overlay {
    width: 100%;
    height:50%;
    position: absolute;
    /* 
right: 0;
    left: 0;
    top: 0;
    bottom: 0;
 */
    background: rgba(255,255,255, 0.6);
    display: block;
    z-index:10000
}


/* <!-- CSS for Sidebar --> */
.sideBarText{
padding-left:10px;
color:black;
}

.sidebarButton{
background-color:#2bb373;
color:white;
border:none;
font-weight:bold;
}


/* CSS for My PRofile */

.icon {
position: relative;
display: table-cell;
width: 50px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
color:#fff;
}


.mainMenu {
background:#2bb373;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:250px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;

}

.mainMenu>ul {
margin:7px 0;
}

.mainMenu li {
position:relative;
display:block;
width:250px;
height:40px;
}

.mainMenu li>p {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#fff;
font-size: 15px;
font-family: 'sansProExtraLight', sans-serif; 
letter-spacing: 0.18em;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;


  
}

.mainMenu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#fff;
font-size: 15px;
    font-family: 'sansProExtraLight', sans-serif; 
letter-spacing: 0.18em;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

  
}

.mainMenu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:100px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.mainMenu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:300px;
}

.logout {
position:absolute;
left:0;
bottom:0;
margin-bottom: 30px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.mainMenu li:hover>a,nav.mainMenu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
/* background-color:black; */
}
.area {
float: left;
background: black;
width: 20%;
height: 100%;
}



/* Right Portion Styling */

.myProfileOutlineBoxes{
border:2px solid #2bb373;
 border-radius:10px;
}

.dropdown {
    position: relative;

    /** Make it fit tightly around it's children */
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}

.dropdown:hover .dropdown-menu {

    /** Show dropdown menu */
    display: block;
}

.myProfileSettingButtons{

border:none;
background-color:transparent;
}

.myProfileSettingButtons:hover{
background-color:transparent;

}


#orderList{
 list-style-type: none;
 }

li i {
  float: left;
  margin: 0 15px 0 0;
}

.statusIcons{
font-size:25px
}

.delivered{
color:green;
}

.cancelled{
color:#CE1620;
}

.pending{
color:blue
}

.taggedAddress{
border:1px dashed #808080;
border-radius:5px;
height:200px;
width:100%;
padding:10px;
margin:10px;
    display: table;
font-weight:600;
}

.addAddressButton{
border:none;
background:none;


}

.badge{
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 30%;
    position:absolute;
    top:-5px;
    left:0px;
    padding:10px;
	font-size:20px;
}



.addressText{
font-size:20px;
}


.landmarkText::before{
content:"Landmark: ";
}

.smallIcon{
font-size:20px;
padding:5px
}

.editRemoveButtons{
background:none;
border:none;
}

.editRemoveButtonsDiv{
position:absolute;bottom:0; padding-bottom:10px;right:0
}
.modal-header{
border-bottom:0px

}

.addressTabs{
	display:inline;
	
	text-transform:uppercase;
border-color:transparent;
	background: #2bb373; color: #ffffff !important; padding: 4px 20px; margin:5px; border-radius: 4px; text-decoration: none; cursor:pointer;
}





#aboutUsfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
}

::-webkit-scrollbar { 
    display: none; 
}

.fa-stack{
  color:#2BB373;
  cursor: pointer;
}
